body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 0 auto;

  text-align: center;
  width: 100%;
  height: 120px;
  background-color: #8cc34b;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.section {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding-top: 65px;
  padding-bottom: 75px;
  background-color: white;
}

.section_header {
  width: 100%;
  max-width: 610px;
  margin: 0 auto 40px;

  text-align: center;
}
.footer_header {
  width: 100%;
  max-width: 610px;
  margin: 51px auto 0;

  text-align: center;
}
.section_title {
  color: #212121;
  font-family: "Fira Sans";
  font-size: 42px;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  width: 100%;
  max-width: 1200px;
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: #f6f7f2;
}
.container_items {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_item {
  margin: 10px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.container_item_txt {
  text-align: center;
  padding: 20px;
  height: 100%;
  max-height: 240px;
  max-width: 300px;
  background-color: #ffffff;
  font-family: "Fira Sans";
}

.container_item_title {
  color: #212121;
  font-family: "Fira Sans";
  font-size: 21px;
  padding-bottom: 15px;
}
.container_item_text {
  color: #727272;
  font-family: "Fira Sans";
  font-size: 14px;
  line-height: 21px;
}
.container_item:hover {
  cursor: pointer;
}

.loader {
  margin: 1rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
